
body {
    background-color:#191919;
    overflow-y: hidden !important;
    
  }
  
  .navbar {
  
    font-family: 'Roboto', sans-serif;
    font-size: large;
  
  }
  
  /*.jumbotron {
    /*background-image: url("/images/library\ pic.png");
    background-size: 100%;
    
    background-repeat: no-repeat;
    background-position:center;
    background-color: transparent;
    height: fit-content;
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: -15px;
  }
  
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    text-align: left;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border: .5px solid black;
    color:white;
    margin: 5%;
    font-family: 'Roboto', sans-serif;
     padding-left: 20px;
     padding-bottom: 20px;
     padding-top: 20px;
     border-radius: 70px 10px;
  }*/

  .cardy2 {
    margin-left: 5% !important;
    margin-right: 5% !important;
    background-color: black;
    border-style: solid;
  border-color: white;
  border-radius: 1px 1px 70px 1px;

  }


  .cardy {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    min-width: 1000px;
    border-radius: 70px 10px;
    background-color: #5a5959;




}

#libSec {
  text-align: center;
  color: white;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}



  
  
  



.scrolling-wrapper{
	overflow-x: auto;
}

body{
	background-color: black;
	color: #fff;
	font-family: 'system-ui';
}

h1{
	font-weight: 700;
	font-size: 3.4em;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}




.button {
  display: inline-block;
  border-radius: 4px;
  background-color:#D6EA5C;
  border: none;
  color: black;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
  padding: 12px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;  
  text-decoration: none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  text-decoration: none;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


h1  {

  text-align: center;

 

}
