body {
    background: #202020;
    font-family: 'Roboto', sans-serif;}

    .navbar-nav > li{
      padding-left:30px;
      padding-right:30px;
      scroll-behavior: smooth;  
      text-decoration: none;
    }

    .navbar {

      font-family: 'Roboto', sans-serif;
      font-size: large;
      
      }
    
    


    body{
      background-color: #202020;
      color: #fff;
      font-family: 'system-ui';
    }
    
    h1{
      font-weight: 700;
      font-size: 3.4em;
    }


#heart {

    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 25px;


}

#link {

    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 25px;

}
.jumbotron {
  /*background-image: url("/images/AdobeStock_295137970.png");*/
  background-color: black;
  background-size: cover;
  
  background-repeat: no-repeat;
  background-position:center;
  background-color: transparent;
  height: fit-content;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: -15px;
  
}

.jumboCopy {
  width: 80%;
  min-width: 500px;
  max-width: 900px;
  
  text-align: left;
  margin: 30px;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: #414040;
  border: .5px solid black;
  color:white;
  margin: 5%;
  font-family: 'Roboto', sans-serif;
   padding-left: 20px;
   padding-bottom: 20px;
   padding-top: 20px;
   border-radius: 70px 10px;
}



.jumboCopy {
  display: grid; 
  grid-template-columns: 1.1fr 0.9fr 1fr; 
  grid-template-rows: 0.4fr 0.6fr ; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Title Title Title"
    "Picture Bio Bio"
    ; 
}
.Title { grid-area: Title; }
.Picture { grid-area: Picture; }
.Bio {
  display: grid; 
  grid-template-columns: 12.9fr 0.8fr 0.3fr; 
  grid-template-rows: 1.2fr 0.7fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    "Player . ."
    "Progress . ."; 
  grid-area: Bio; 
}
.Player { grid-area: Player;
  display: flex;
  justify-items: center;
  align-items: center; 
  margin: auto;
}
.Progress { grid-area: Progress; 
  display: flex;
  justify-items: center;
  align-items: center; 
  margin: auto;
 


  
}




    
  /* Using flex with the column direction to
     align items in a vertical direction */
  .player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
    
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
    
  .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: URL(
       "/images/Component\ 366\ –\ 2.png");
    background-size: cover;
    background-position: center;
    border-radius: 2%;
  }
    
  /* Changing the font sizes to suitable ones */
  .now-playing {
    font-size: 1rem;
  }
    
  .track-name {
    font-size: 3rem;
  }
    
  .track-artist {
    font-size: 1.5rem;
  }
    
  /* Using flex with the row direction to
     align items in a horizontal direction */
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
    
  .playpause-track,
  .prev-track,
  .next-track {
    padding: 25px;
    opacity: 0.8;
    
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
    
  /* Change the opacity when mouse is hovered */
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
    opacity: 1.0;
  }
    
  /* Define the slider width so that it scales properly */
  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  /* Modify the appearance of the slider */
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
    
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
    
  /* Change the opacity when mouse is hovered */
  .seek_slider:hover,
  .volume_slider:hover {
    opacity: 1.0;
  }
    
  .seek_slider {
    width: 60%;
  }
    
  .volume_slider {
    width: 30%;
  }
    
  .current-time,
  .total-duration {
    padding: 10px;
  }
    
  i.fa-volume-down,
  i.fa-volume-up {
    padding: 10px;
  }
    
  /* Change the mouse cursor to a pointer
     when hovered over */
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward {
    cursor: pointer;
  }



  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    min-width: 1000px;
    border-radius: 70px 10px;
    background-color: transparent;

}

.moreInfo {
  /*background-color: #191919;*/
  background-color: #202020;
  margin-top: -40px;
 
 
}

#curList {
  text-align: center;
  color: white;

}

.card-body {
  color: white;
}



.button {
  display: inline-block;
  border-radius: 4px;
  background-color:#D6EA5C;
  border: none;
  color: black;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
  padding: 12px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;  
  text-decoration: none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  text-decoration: none;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
  


.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url('/images/library_images/editor-0.7s-47px.gif');
  background-repeat: no-repeat; 
  background-color: #202020;
  background-position: center;
}

.preText {
  text-align: center;
}



a:not(.button) {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  color: black;
  overflow: hidden;
}

a:not(.button) {
  /* Same as before */
  background: linear-gradient(to right, #D6EA5C, #D6EA5C 50%, white 50%);
}
a:not(.button) {
  /* Same as before */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}
a:not(.button) {
  /* Same as before */
  transition: background-position 875ms ease;
}
a:hover:not(.button) {
  background-position: 0 100%;
}

.foo {
  color: white;
}

.navbar .navbar-nav .foo:hover{
  color: #D6EA5C;
  
}

.sm-icons {
  flex-direction: row;
}
@media only screen and (max-width: 960px) {
  .sm-icons .nav-item {
    padding-right: 1em;
    text-align: center;
    padding-top: 20px;
  }
}