
body {
  background-color: #202020;
  overflow-y: hidden !important;
  
}

.navbar {

  font-family: 'Roboto', sans-serif;
  font-size: large;

}

.jumbotron {
  background-image: url("../images/HeroSpace.png");
  background-size: 100%;
  
  background-repeat: no-repeat;
  background-position:center;
  background-color: transparent;
  height: fit-content;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: -15px;
}

.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  text-align: left;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: .5px solid black;
  color:white;
  margin: 5%;
  font-family: 'Roboto', sans-serif;  font-weight: 700;
	font-size: 3.4em;
   padding-left: 20px;
   padding-bottom: 20px;
   padding-top: 20px;
   border-radius: 70px 10px;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color:#D6EA5C;
  border: none;
  color: black;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
  padding: 12px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;  
  text-decoration: none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  text-decoration: none;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}



a:not(.button) {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  color: black;
  overflow: hidden;
}

a:not(.button):not(.current) {
  /* Same as before */
  background: linear-gradient(to right, #D6EA5C, #D6EA5C 50%, white 50%);
}
a:not(.button):not(.current) {
  /* Same as before */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}
a:not(.button):not(.current) {
  /* Same as before */
  transition: background-position 875ms ease;
}
a:hover:not(.button):not(.current) {
  background-position: 0 100%;
}

.current {
  color: #D6EA5C !important;
}

.foo {
  color: white;
}

.navbar .navbar-nav .foo:hover{
  color: #D6EA5C;
  
}

.sm-icons {
  flex-direction: row;
}
@media only screen and (max-width: 960px) {
  .sm-icons .nav-item {
    padding-right: 1em;
    text-align: center;
  }
}



.footer-basic {
  padding:40px 0;
  background-color:black;
  color: white;
}



.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}


.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
  flex-direction: row;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:white;
  
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align: center;
  margin-right: 15px;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

