<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/library2.css">

    <link rel="stylesheet" 
    href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>


     <!--Start Navbar-->

    
     <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="home.html">
          <img src="/images/OS Logo.png" width="100" height="100" class="d-inline-block align-top" alt="">
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="tags.html">Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="player.html">Your Score</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="library2.html">OS Library</a>
          </li>
        </ul>
        <ul class="navbar-nav sm-icons">
          <li class="nav-item foo"><i class="fab fa-facebook-f"></i></li>
          <li class="nav-item foo"><i class="fab fa-instagram"></i></li>
          <li class="nav-item foo"><i class="fab fa-twitter"></i></li>
          <li class="nav-item foo"><i class="fab fa-youtube"></i></li>
      </ul>
      </div>
    </nav>
    <!--End Navbar-->

       
     

     <container>

      <br><br>

      <h1 #="plylist">Recently Added Tracks</h1>
      <br><br>
      <div class="card-deck">
        <div class="card cardy2">
          <img src="/images/Right.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hockey – Wyeth IS</h5>
            <!--<p class="card-text">Hockey’s 2009 debut, Mind Chaos, was an insanely catchy blend of indie rock, dance, and soul...</p>-->
            <div class="Player">
              <div class="buttons">
                <div class="prev-track" onclick="prevTrack()">
                  <i class="fa fa-step-backward fa-2x"></i>
                </div>
                <div class="playpause-track" onclick="playpauseTrack()">
                  <i class="fa fa-play-circle fa-5x"></i>
                </div>
                <div class="next-track" onclick="nextTrack()">
                  <i class="fa fa-step-forward fa-2x"></i>
                </div>
              </div>
            </div>

      
              <a class="toggle2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Learn More&nbsp;&nbsp;&nbsp;
              </a>
   
              <a class="card-icon fas fa-share-alt">&nbsp;&nbsp;Share</a> 

              <h5>#Happy #Rock</h5>
             
            

          </div>
        </div>

        <div class="card cardy2">
          <img src="/images/library_images/Image 11.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Editors – The Weight</h5>

            <div class="Player">
              <div class="buttons">
                <div class="prev-track" onclick="prevTrack()">
                  <i class="fa fa-step-backward fa-2x"></i>
                </div>
                <div class="playpause-track" onclick="playpauseTrack()">
                  <i class="fa fa-play-circle fa-5x"></i>
                </div>
                <div class="next-track" onclick="nextTrack()">
                  <i class="fa fa-step-forward fa-2x"></i>
                </div>
              </div>
            </div>

            <a class="toggle2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Learn More&nbsp;&nbsp;&nbsp;
            </a>
 
            <a class="card-icon fas fa-share-alt">&nbsp;&nbsp;Share</a> 

            <h5>#R&B #Soft</h5>
           
          



          </div>
        </div>


        <div class="card cardy2">
          <img src="/images/library_images/Image 12.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Mowgli’s – Waiting </h5>

            <div class="Player">
              <div class="buttons">
                <div class="prev-track" onclick="prevTrack()">
                  <i class="fa fa-step-backward fa-2x"></i>
                </div>
                <div class="playpause-track" onclick="playpauseTrack()">
                  <i class="fa fa-play-circle fa-5x"></i>
                </div>
                <div class="next-track" onclick="nextTrack()">
                  <i class="fa fa-step-forward fa-2x"></i>
                </div>
              </div>
            </div>

            <a class="toggle2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Learn More&nbsp;&nbsp;&nbsp;
            </a>
 
            <a class="card-icon fas fa-share-alt">&nbsp;&nbsp;Share</a> 


            <h5>#Dancy #Indie</h5>
           
          



          </div>
        </div>
      </div>
     </container>




     <br><br><br>


     <h1 id="libSec">Reviews, Interviews, and much more</h1>

     <br><br>


     <div class="card cardy mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="images/library_images/Image 12.png" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Grouplove – Spreading Rumours</h5>
              <p class="card-text">With the abundant success of Grouplove’s first album Never Trust a Happy Song – producing hits such as “Colours”, “Itchin’ On A Photograph”, and “Tongue Tied” – and the release of hit single “Ways to Go”... 

                <p>
                  
                  <a class="toggle2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Learn More&nbsp;&nbsp;&nbsp;
                  </a>

                  <br>
                  <a class="toggle far fa-comment-alt" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Comments
                  </a>
                 
                  <a class="card-icon fas fa-share-alt">&nbsp;&nbsp;Share</a> 
                  <a class="card-icon fas fa-thumbs-up">&nbsp;&nbsp;Like</a>
                 
                </p>

               


                <div class="collapse" id="collapseExample">

                  <div class="card card-body">

                    <p id="comments">Comments</p>

                    <p id="names"><i class="far fa-user-circle"></i>&nbsp;&nbsp;Gregory Addams</p>

                    <p id=com>&nbsp;&nbsp;&nbsp;&nbsp;I think this article explains the band very well!
                    </p>


                    <p id="names"><i class="far fa-user-circle"></i>&nbsp;&nbsp;Samuel Richards</p>


                    <section id="app">
                      <div class="container">
                        <div class="row">
                          <div class="col-6">
                            <div class="comment">
                          <p v-for="items in item" v-text="items"></p>
                            </div><!--End Comment-->
                            </div><!--End col -->
                            </div><!-- End row -->
                        <div class="row">
                          <div class="col-6">
                        <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                            <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                          </div><!-- End col -->
                        </div><!--End Row -->
                      </div><!--End Container -->
                    </section><!-- end App -->
                    



                  </div>
                </div>
             <!-- <p class="card-text"><small class="text-muted">by Zach Beckstrand</small></p>-->
            </div>
          </div>
        </div>
      </div>

      <br><br><br>


      <div class="card cardy mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="images/library_images/Image 11.png" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Grouplove – Spreading Rumours</h5>
              <p class="card-text">With the abundant success of Grouplove’s first album Never Trust a Happy Song – producing hits such as “Colours”, “Itchin’ On A Photograph”, and “Tongue Tied” – and the release of hit single “Ways to Go”... 

                <p>
                  
                  <a class="toggle2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Learn More&nbsp;&nbsp;&nbsp;
                  </a>

                  <br>
                  <a class="toggle far fa-comment-alt" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Comments
                  </a>
                 
                  <a class="card-icon fas fa-share-alt">&nbsp;&nbsp;Share</a> 
                  <a class="card-icon fas fa-thumbs-up">&nbsp;&nbsp;Like</a>
                 
                </p>

               


                <div class="collapse" id="collapseExample">

                  <div class="card card-body">

                    <p id="comments">Comments</p>

                    <p id="names"><i class="far fa-user-circle"></i>&nbsp;&nbsp;Gregory Addams</p>

                    <p id=com>&nbsp;&nbsp;&nbsp;&nbsp;I think this article explains the band very well!
                    </p>


                    <p id="names"><i class="far fa-user-circle"></i>&nbsp;&nbsp;Samuel Richards</p>


                    <section id="app">
                      <div class="container">
                        <div class="row">
                          <div class="col-6">
                            <div class="comment">
                          <p v-for="items in item" v-text="items"></p>
                            </div><!--End Comment-->
                            </div><!--End col -->
                            </div><!-- End row -->
                        <div class="row">
                          <div class="col-6">
                        <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                            <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                          </div><!-- End col -->
                        </div><!--End Row -->
                      </div><!--End Container -->
                    </section><!-- end App -->
                    



                  </div>
                </div>
             <!-- <p class="card-text"><small class="text-muted">by Zach Beckstrand</small></p>-->
            </div>
          </div>
        </div>
      </div>

      <br><br><br>




      
      <br><br><br>


      


</body>

<!-- Vue JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>



<script src="js/library2.js"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>